.ourMenuContainer{
    padding: 214px 152px 133px 152px;
    background: #FFFFFF;
}
.ourMenuItemsContainer{
    height: 1238px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ourMenuTextAndButtonsContainer {
    width: 780px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ourMenuTextContainer{
    width: 557px;
    height: 172px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ourMenuTextTitle{
    font-size: 100px;
    font-weight: 400;
    line-height: 96px;
    text-align: center;

}

.ourMenuTextDescription{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #495460;
}
.ourMenuButtonsContainer{
    width: 780px;
    height: 48px;
    display: flex;
    justify-content: space-between;

}
.ourMenuActieFilterButton{
    width: 120px;
    height: 48px;
    border-radius: 50px;
    background: #AD343E;
    color: #FFFFFF;
}
.ourMenuFilterButton{
    width: 150px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #DBDFD0;


}
.ourMenuCards{
    width: 1296px;
    height: 880px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;
}
.noneCard{
    display: none;
}
.menuCardContainer{
    width: 306px;
    height: 428px;
    border-radius: 12px;
    border: 1px solid #DBDFD0;
    display: flex;
    margin: 0 8px;
    flex-direction: column;
    justify-content: space-between;
}
.menuCardTextContainer{
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menuCardPrice{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #AD343E;
}
.menuCardName{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;

}
.menuCardDescription{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}