.mainHeader{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background: #ffff;
    width: 100%;
    padding: 25px 155px 25px 151px;
    max-height: 104px;
    color: aliceblue;
    z-index: 1;

}

.logoName{

    color: #474747;
    font-size: 43px;
    display: inline-block;
    font-weight: 600;
    text-align: left;

}

.logoPicture{
    width: 55px;
    height: 54px;
    margin-right: 13px;
}

.headerSideBar{
    width: 521px;
    height: 32px;
    border-radius: 34px;
    margin-left: 274px;
    margin-right: 100px;
}

.headerSideBarButtons{
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    border-radius: 34px;
    padding: 4px 16px 4px 16px;
}

.headerSideBarButtons:hover{
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    border-radius: 34px;
    background: #DBDFD0;
    padding: 4px 16px 4px 16px;
}


.headerSideBarActiveButton{
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    border-radius: 34px;
    background: #DBDFD0;
    padding: 4px 16px 4px 16px;
}
.headerSideBarActiveButton:hover{
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    border-radius: 34px;
    background: #95a174;
    padding: 4px 16px 4px 16px;
}

.headerSideBarBookATableButton{
    width: 147px;
    height: 48px;
    border-radius: 118px;
    border: 2px solid #2C2F24
}
.headerSideBarBookATableButton:hover{
    width: 147px;
    height: 48px;
    border-radius: 118px;
    border: 2px solid #2C2F24;
    background: #AD343E;
    color: aliceblue;
}