
.aboutUsComeAndVisit{
    padding: 214px 152px 120px 152px;
    background: #F9F9F7;
}
.aboutUsComeAndVisitItemsContainer{
    position: relative;
    height: 616px;
}

.aboutUsComeAndVisitImg{
    position: absolute;
    top: 0;
    left: 0;
}
.comeAndVisitUsContainer{
    position: absolute;
    width: 411px;
    height: 321px;
    top: 295px;
    left: 238px;
    border-radius: 12px;
    background: #474747;
    padding: 50px 50px 50px 50px;

}
.comeAndVisitUsText{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    width: 195px;
    height: 30px;
    color: #F9F9F7;
    margin-bottom: 45px;
}

.phoneMailMapNumber{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #F9F9F7;
    margin-bottom: 25px;
}
.mailPhoneMapIcon{
    margin-right: 20px;
    width: 18px;
    height: 18px;
}

.comeAndVisitUsContainerArticle{
    width: 557px;
    height: 457px;
    position: absolute;
    top: 79px;
    right: 0;
}

.comeAndVisitUsArticleName{
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    text-align: left;
    margin-bottom: 24px;
}
.comeAndVisitUsArticleDescription{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #2C2F24;
    margin-bottom: 24px;
}
.comeAndVisitUsArticleDescription2{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #414536;
    margin-bottom: 40px;
}

.feelTheAuthenticContainer{
    height: 955px;
}
.feelTheAuthenticTitleContainer{
    background-image: url("img/Authentic.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
}
.feelTheAuthenticTitleText{
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    width: 596px;
    margin-top: 354px;
}

.feelTheAuthenticItemsContainer{
    padding: 80px 164px 95px 164px;
    display: flex;
    justify-content: space-evenly;
}

.feelTheAuthenticItemContainer{
    width: 366px;
    display: flex;
    justify-content: space-between;
}

.feelTheAuthenticItemImg{
    margin-right: 24px;
}
.feelTheAuthenticItemTextContainer{
    width: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.feelTheAuthenticItemTitle{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.feelTheAuthenticItemDescription{
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}
.aLittleInformationContainer{
    height: 920px;
    background: #F9F9F7;
    padding: 120px 152px 120px 152px;
    display: flex;
    justify-content: space-between;
}
.aLittleInformationItemContainer{
    width: 645px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aLittleInformationItemTextContainer{
    width: 556px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aLittleInformationItemTextTitle{
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    text-align: left;

}
.aLittleInformationItemTextDescription{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
.aLittleInformationCardsContainer{
    width: 610px;
    height: 334px;

}

.aLittleInformationCardContainer{
    width: 293px;
    height: 174px;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    display: inline-block;

}

.aLittleInformationCardTextContainer {
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aLittleInformationCardNumber{
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    text-align: center;

}

.aLittleInformationCardName{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;

}